/node_modules
/public/hot
/storage/logs
/storage/app/secure_upload
/storage/app/tmp
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
composer.lock
phpunit.xml
.editorconfig
.styleci.yml

