{template 'common/header'}
<div class="main">
{template 'list_nav'}
		<div class="panel panel-default">
			<div class="panel-heading" style="position:relative;">
				<span>视频评论列表</span>
				<span style="position:absolute;right:10rem;top:4px;"><a class="btn btn-default" href="{php echo $this->createWebUrl('dummyComment',array('rid'=>$rid))}">虚拟评论</a></span>
				<span style="position:absolute;right:.5rem;top:4px;"><a class="btn btn-default" href="{php echo $this->createWebUrl('sendGroupPacket',array('rid'=>$rid))}">发放群红包</a></span>
			</div>
			<div class="panel-body">
			<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>					
					<th align="center" style="width:10%;text-align:center;">昵称</th>						
					<th align="center" style="width:10%;text-align:center;">评论内容</th>
					<th align="center" style="width:8%;text-align:center;">是否显示</th>
					<th align="center" style="width:8%;text-align:center;">是否是红包</th>
					<th align="center" style="width:8%;text-align:center;">总金额</th>
					<th align="center" style="width:8%;text-align:center;">数量</th>
					<th align="center" style="width:8%;text-align:center;">已发数量</th>
					<th align="center" style="width:8%;text-align:center;">已发金额</th>
					<th align="center" style="width:10%;text-align:center;">评论时间</th>
					<th align="center" style="text-align:center;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $Comment $row}
					<tr>		
						<td align="center" style="text-align:center;">{$row['nickname']}</td>
                        <td align="center" style="text-align:center;">{$row['content']}</td>
                        <td align="centet" style="text-align: center;">
                        {if $row['is_auth']==1}
                        <span style="color: green;">显示</span>{/if}
                        {if $row['is_auth']==2}
                        <span style="color: red;">不显示</span>
                        {/if}
                        </td>
						<td align="centet" style="text-align: center;">
                        {if $row['ispacket']==1}
                        <span style="color: green;">是</span>{/if}
                        {if $row['ispacket']==0}
                        <span style="color: red;">否</span>
                        {/if}
                        </td>
						<td align="center" style="text-align:center;">{$row['amount']}</td>
						<td align="center" style="text-align:center;">{$row['num']}</td>
						<td align="center" style="text-align:center;">{$row['send_num']}</td>
						<td align="center" style="text-align:center;">{php echo $row['yifa_amount']/100}</td>
						<td align="center" style=" text-align:center;">{php echo date('Y-m-d H:i',$row['dateline'])}</td>
						<td align="center" style=" text-align:center;">
						{if $row['is_auth']==1}
						<a href="{php echo $this->createWebUrl('isauth',array('id' =>$row['id'],'is_auth'=>'2','rid'=>$row['rid']))}"><button type="button" class="btn btn-warning" >不显示</button></a>
                        {/if}
                        {if $row['is_auth']==2}
						<a href="{php echo $this->createWebUrl('isauth',array('id' =>$row['id'],'is_auth'=>'1','rid'=>$row['rid']))}"><button type="button" class="btn btn-success" >显示</button></a>
                        {/if}
{if $row['ispacket']==1 && $row['isadmin']==1}
						<a href="{php echo $this->createWebUrl('getpacket',array('toid' =>$row['id'],'is_auth'=>'1','rid'=>$row['rid']))}"><button type="button" class="btn btn-success" >领取用户</button></a>{/if}
						{if $row['ispacket']!=1 && $row['isadmin']!=1 && $row['touid']==0}<a href="{php echo $this->createWebUrl('reply',array('id' =>$row['id'],'rid'=>$row['rid']))}"><button type="button" class="btn btn-success" >回复</button></a>{/if}
						</td>
					</tr>
				{/loop}
			</tbody>
		</table>
		{$pager}
			</div>
		</div>
			</div>
		</div>
		
</div>

<script>
    require(['bootstrap','util'],function($,util){
        $('button[name=btn-setting]').click(function(){
            setting.save_setting();
        });

        var setting = {
            save_setting:function(){
                $.ajax({
                    url: "{php echo wurl('site/entry/setting',array('m'=>'wxz_wzb','op'=>'setting','item'=>'ajax','key'=>'setting'));}",
                    type: 'POST',
                    data: {
                        title: $("input[name='title']").val(),
                        logo: $("input[name='logo']").val(),
                        sub_title: $("input[name='sub_title']").val(),
                        share_img: $("input[name='share_img']").val(),
                        share_title: $("input[name='share_title']").val(),
                        share_desc: $("textarea[name='share_desc']").val(),
                        attention_url: $("input[name='attention_url']").val()
                    },
                    success:function(res){
                        if(res > 0){
                            util.message('消息提示: 设置成功','', 'success');

                        }else{
                            util.message('消息提示: 设置失败','', 'error');
                        }
                    },
                    error:function(){
                        alert('ajax error');
                    }
                });
            }
        }
    });
</script>
{template 'common/footer'}